In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
from IPython.display import Markdown

## Carregando o Conjunto de Dados

In [7]:
# anscombe
df_anscombe = sns.load_dataset('anscombe')
display(Markdown("## Anscombe dataset"))
display(df_anscombe.head())

display(Markdown("### Exploração dos dados"))
df_anscombe.info()

display(Markdown("### Estatísticas descritivas"))
display(df_anscombe.describe())

## Anscombe dataset

  dataset     x     y
0       I  10.0  8.04
1       I   8.0  6.95
2       I  13.0  7.58
3       I   9.0  8.81
4       I  11.0  8.33

### Exploração dos dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  44 non-null     object
 1   x        44 non-null     float64
 2   y        44 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.2+ KB

### Estatísticas descritivas

               x          y
count  44.000000  44.000000
mean    9.000000   7.500682
std     3.198837   1.958925
min     4.000000   3.100000
25%     7.000000   6.117500
50%     8.000000   7.520000
75%    11.000000   8.747500
max    19.000000  12.740000

In [10]:
df_dict = pd.DataFrame([
    {
        "variavel": "x",
        "descricao": "variavel X",
        "tipo": "Quantitativa",
        "subtipo": "Continua",
    },{
        "variavel": "y",
        "descricao": "Variavel Y",
        "tipo": "Quantitativa",
        "subtipo": "Continua",
    }

])

df_dict

  variavel   descricao          tipo   subtipo
0        x  variavel X  Quantitativa  Continua
1        y  Variavel Y  Quantitativa  Continua

## Trantando os dados QUANTITATIVOS

In [14]:
print("Media:", df_anscombe['x'].mean().round(2))
print("Mediana:", df_anscombe['x'].median())
print("Moda:", df_anscombe['x'].mode())
print("Amplitude:", df_anscombe['x'].max() - df_anscombe['x'].min())
print("Variância:", df_anscombe['x'].var().round(2))
print("Desvio Padrão:", df_anscombe['x'].std().round(2))

Media: 9.0
Mediana: 8.0
Moda: 0    8.0
dtype: float64
Amplitude: 15.0
Variância: 10.23
Desvio Padrão: 3.2

In [16]:
print("Media:", df_anscombe['y'].mean().round(2))
print("Mediana:", df_anscombe['y'].median())
print("Moda:", df_anscombe['y'].mode())
print("Amplitude:", df_anscombe['y'].max() - df_anscombe['y'].min())
print("Variância:", df_anscombe['y'].var().round(2))
print("Desvio Padrão:", df_anscombe['y'].std().round(2))

Media: 7.5
Mediana: 7.52
Moda: 0    8.84
dtype: float64
Amplitude: 9.64
Variância: 3.84
Desvio Padrão: 1.96